#texttwo
    padding: 40px 0 
    .minibox
        width: 230px
        height: 150px
        background-color: #679838
        text-align: center
        border: 8px solid #ffff
        color: #ffff
        font-size: 20px
        padding-top: 50px
    .big
        position: absolute
        left: 300px